.Chat {
  padding: 2rem;
  width: 100%;
  position: relative;
}

.SendField {
  position: fixed;
  width: 480px;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--mainBackground);
  padding: 2rem;

  input, svg, label {
    color: var(--mainColor);
  }
}
