.SocialModule {
  margin-top: 30px;
  padding: 50px 20px;
}

.Title {
  font-size: 25px;
  margin-bottom: 40px;
}

.Link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Icon {
  margin-right: 10px;
}

.BlackArrow {
  position: absolute;
  top: 20px;
  left: 20px;
}

.FbLoader {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
