.Settings {
  padding: 2rem 40px;
}

.Grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.Key {
  display: block;
  margin-bottom: 5px;
}

.FakeLink {
  text-decoration: underline;
  cursor: pointer;
}

.SLink {
  display: block;
  text-decoration: underline;
  margin: 20px 0;
}

.Image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}
