.Map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .Button {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    height: auto;
    width: 80%;
  }

  .Backdrop {
    z-index: 100;
    color: white;
  }
}

.Pin {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 2;
  font-size: 30px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Address {
  position: absolute;
  height: 45px;
  font-size: 30px;
  text-align: center;
  z-index: 2;
  top: 200px;
  right: 0;
  left: 0;
  bottom: 0;
}

.AboutRoute {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  > div {
    padding-bottom: 1rem;
  }
}

.RoutePrice {
  font-size: 18px;

  hr {
    opacity: 0.5;
  }

  .Price {
    font-size: 24px;
    font-weight: bold;
  }
}
