@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Roboto',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  background-color: var(--mainBackground)!important;
  color: var(--mainColor)!important;
}

#root {
  position: relative;
  width: 480px;
  height: 100vh;
  margin: 0 auto;

  @media screen and (max-width: 991px) {
    width: 100%;
  }
}

.MuiPaper-root {
  width: 480px;
  margin: 0 auto;

  @media screen and (max-width: 991px) {
    width: 100%;
  }
}

.MuiDialog-paperWidthSm {
  max-width: 420px!important;
  color: var(--mainColor)!important;
  background-color: var(--mainBackground)!important;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
}

.Layout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0px 14px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

//[class*="ymaps-2"][class*="-ground-pane"] {
//  -webkit-filter: grayscale(100%) url(/path-to-svg/yellowfilter.svg#yellowfilter);
//  filter: grayscale(100%) url(/path-to-svg/yellowfilter.svg#yellowfilter);
//}

[class*="ymaps-2"][class*="-search__suggest"] {
  background-color: var(--mainBackground);
}
