.Login {
  height: 100vh;
}

.Header {
  height: 70%;
  background: linear-gradient(rgba(0, 153, 196, 0.5), rgba(0, 153, 196, 0.4)),
  url('../../images/bg.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    font-size: 2rem;
  }
}

.Logo {
  width: 110px;
  height: 110px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 -14px 28px rgba(0, 0, 0, 0.22);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
  margin: 20px 0;
}

.About {
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-size: 14px;

  p {
    line-height: 130%;
  }

  a {
    color: #2c3e50;
  }
}

.Subtitle {
  font-size: 30px;
}

.FakeInput {
  margin: 20px 0;
  font-size: 25px;
  font-weight: 300;
}

.PhoneLogin {
  padding: 20px;
}

.Grey {
  color: var(--greyColor);
  margin-left: 10px;
}

.SocialLogin {
  border-top: 1px solid var(--greyColor);
  padding: 20px;
}

.SocialLink {
  display: flex;
  color: var(--blueColor);
  font-size: 20px;
}
